body {
	margin: 0;
	padding: 0;
}

.Navbar {
    background-color: lightskyblue;
    height: 60px;
}

.Navbar > p {
    margin: 0;
}

.Navbar > a {
    display: inline-block;
    margin: 15px;
    height: 50%;
}